absl-py @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_493uzkifo2/croot/absl-py_1686852448732/work
aiocache==0.12.3
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.8
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alembic==1.14.0
altgraph==0.17.4
annotated-types==0.7.0
anthropic==0.45.1
anyio==4.8.0
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
APScheduler==3.10.4
arabic-reshaper==3.0.0
archspec @ file:///croot/archspec_1697725767277/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
astunparse==1.6.3
async-timeout==5.0.1
attrs @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_224434dqzl/croot/attrs_1695717839274/work
Authlib==1.3.2
av==12.3.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
bitarray==3.0.0
black==24.8.0
blinker==1.9.0
boltons @ file:///Users/cbousseau/work/recipes/ci_py311/boltons_1677965141748/work
boto3==1.35.53
botocore==1.35.99
Brotli==1.1.0
build==1.2.2.post1
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb==0.6.2
click==8.1.8
cmdstanpy==1.2.4
colbert-ai==0.2.21
colorama==0.4.6
colorclass==2.2.2
coloredlogs==15.0.1
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
compressed-rtf==1.0.6
conda-content-trust @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_5324skqvu9/croot/conda-content-trust_1693490622873/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1702997573971/work/src
conda-package-handling @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_fc4cx8vjhj/croot/conda-package-handling_1690999937094/work
conda_package_streaming @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_aecpaup22q/croot/conda-package-streaming_1690987978274/work
contourpy==1.2.1
crispy-bootstrap4==2024.10
cryptography==44.0.0
cssselect2==0.7.0
ctranslate2==4.5.0
cycler==0.12.1
Cython==3.0.10
dacktool==0.0.7
dataclasses-json==0.6.7
datasets==3.2.0
dbstream==0.1.28
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1680755682866/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.8
distro @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_10ye1wu827/croot/distro_1701455019085/work
Django==5.1.5
django-allauth==65.3.1
django-countries==7.6.1
django-crispy-forms==2.3
django-environ==0.12.0
django-storages==1.14.4
dnspython==2.7.0
docker==7.1.0
docx2txt==0.8
duckduckgo_search==7.2.1
durationpy==0.9
easygui==0.98.3
ebcdic==1.1.1
ecdsa==0.19.0
einops==0.8.0
email_validator==2.2.0
emoji==2.14.1
et_xmlfile==2.0.0
eval_type_backport==0.2.2
Events==0.5
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1700579780973/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
extract-msg==0.52.0
fake-useragent==1.5.1
fastapi==0.111.0
fastapi-cli==0.0.7
faster-whisper==1.0.3
filelock==3.15.4
filetype==1.2.0
Flask==3.1.0
Flask-Cors==5.0.0
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1685164110706/work
fonttools==4.55.3
fpdf2==2.8.2
frozenlist @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_68w5bkvw82/croot/frozenlist_1698702578544/work
fs==2.4.16
fsspec==2024.6.1
ftfy==6.2.3
gast @ file:///tmp/build/80754af9/gast_1637837472536/work
gcp-storage-emulator==2024.8.3
git-python==1.0.3
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.6
google-api-core==2.24.0
google-api-python-client==1.7.11
google-auth==2.37.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-secret-manager==2.7.2
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-generativeai==0.7.2
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
googleauthentication==0.0.18
grpc-google-iam-v1==0.12.3
grpcio==1.67.1
grpcio-status==1.62.3
grpcio-tools==1.62.3
h11==0.14.0
h2==4.1.0
h5py @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9a3s_y3izc/croot/h5py_1691589712568/work
holidays==0.52
hpack==4.1.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.27.1
humanfriendly==10.0
hyperframe==6.1.0
idna==3.10
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1703269254275/work
importlib_resources==6.4.0
iniconfig==2.0.0
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1703631823913/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1703263236586/work
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.4
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1699283905679/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1703611971636/work
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1700038168849/work/keras-2.15.0-py3-none-any.whl#sha256=2dcc6d2e30cf9c951064b63c1f4c404b966c59caf09e01f3549138ec8ee0dd1f
kiwisolver==1.4.5
kubernetes==32.0.0
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.31
langchain-text-splitters==0.3.5
langdetect==1.0.9
langfuse==2.44.0
langsmith==0.1.147
lark==1.1.9
ldap3==2.9.1
libcst==1.5.1
libmambapy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_59l2npsw_8/croot/mamba-split_1698782625405/work/libmambapy
lxml==5.3.0
macholib==1.16.3
Mako==1.3.8
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe @ file:///Users/cbousseau/work/recipes/ci_py311/markupsafe_1677914270710/work
marshmallow==3.26.0
matplotlib==3.8.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
menuinst @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a2fxmxkg_z/croot/menuinst_1702390297906/work
milvus-lite==2.4.11
ml-dtypes @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_de188lr8e8/croot/ml_dtypes_1694459886325/work
mmh3==5.1.0
monotonic==1.6
moto==5.0.27
mpmath==1.3.0
msoffcrypto-tool==5.4.2
multidict @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_10voz9m15i/croot/multidict_1701096890858/work
multiprocess==0.70.16
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.3
nltk==3.9.1
numpy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c0s16d4ba1/croot/numpy_and_numpy_base_1701295077539/work/dist/numpy-1.26.2-cp311-cp311-macosx_11_0_arm64.whl#sha256=ad57efc6771f3537d8b9fb295f7221a98cd2cb60c7380e892e2624b41c9d3d1b
oauthlib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5cxgjn8mz4/croot/oauthlib_1679489641676/work
olefile==0.47
oletools==0.60.2
onnxruntime==1.20.1
open-webui==0.5.7
openai==1.60.1
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opensearch-py==2.7.1
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
orjson==3.10.15
oscrypto==1.3.0
overrides==7.7.0
packaging==23.2
pandas==2.2.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
passlib==1.7.4
pathspec==0.12.1
patsy==0.5.6
pcodedmp==1.2.6
peewee==3.17.8
peewee-migrate==1.12.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pgvector==0.3.5
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==11.1.0
platformdirs @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a8u4fy8k9o/croot/platformdirs_1692205661656/work
pluggy==1.5.0
pmdarima==2.0.4
pocketsphinx==5.0.3
portalocker==2.10.1
posthog==3.10.0
primp==0.11.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
propcache==0.2.1
prophet==1.1.5
proto-plus==1.25.0
protobuf==4.25.6
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1702833200366/work
psycopg2-binary==2.9.9
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-partiql-parser==0.6.1
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pycosat @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3eg8vdcs6z/croot/pycosat_1696536519213/work
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.7.1
pydantic_core==2.23.4
pydub==0.25.1
pydyf==0.11.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pyHanko==0.25.3
pyhanko-certvalidator==0.26.5
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
PyJWT==2.10.1
pymdown-extensions==10.11.2
pymilvus==2.5.0
pymongo==4.10.1
PyMySQL==1.1.1
pyOpenSSL @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b8whqav6qm/croot/pyopenssl_1690223428943/work
pypandoc==1.13
pyparsing==3.2.1
pypdf==4.3.1
PyPDF2==3.0.1
pyphen==0.17.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.2.0
pyserial==3.5
PySocks @ file:///Users/cbousseau/work/recipes/ci_py311/pysocks_1677906386870/work
pytest==8.3.4
pytest-docker==3.1.1
python-bidi==0.6.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-decouple==3.8
python-dotenv==1.0.1
python-engineio==4.11.2
python-http-client==3.3.7
python-iso639==2025.1.27
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.18
python-oxmsg==0.0.1
python-pptx==1.0.0
python-socketio==5.11.3
python3-openid==3.2.0
pytube==15.0.0
pytz==2024.1
pyxlsb==1.0.10
PyYAML==6.0.2
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1679317086968/work
qdrant-client==1.12.2
qrcode==8.0
rank-bm25==0.2.2
RapidFuzz==3.11.0
rapidocr-onnxruntime==1.3.24
razorpay==1.4.2
red-black-tree-mod==1.20
redis==5.2.1
regex==2024.11.6
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.25.6
rich==13.9.4
rich-toolkit==0.13.2
rsa==4.9
RTFDE==0.1.2
ruamel.yaml @ file:///Users/cbousseau/work/recipes/ci_py311/ruamel.yaml_1677934845850/work
s3transfer==0.10.4
safetensors==0.5.2
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
sentence-transformers==3.3.1
sentencepiece==0.2.0
shapely==2.0.6
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
social-auth-core==4.5.4
sounddevice==0.4.7
soundfile==0.12.1
soupsieve==2.6
SpeechRecognition==3.10.4
SQLAlchemy==2.0.32
sqlparse==0.5.3
srt==3.5.3
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
stanio==0.5.0
starkbank-ecdsa==2.2.0
starlette==0.37.2
statsmodels==0.14.2
svglib==1.5.1
sympy==1.13.0
tabulate==0.9.0
tenacity==9.0.0
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1699025239851/work/tensorboard-2.15.1-py3-none-any.whl#sha256=c46c1d1cf13a458c429868a78b2531d8ff5f682058d69ec0840b0bc7a38f1c0f
tensorboard-data-server @ file:///var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ffpjrdrqhx/croot/tensorboard-data-server_1681498215078/work/tensorboard_data_server-0.7.0-py3-none-macosx_11_0_arm64.whl
tensorflow @ file:///Users/uwe/Development/conda-forge/tensorflow-feedstock/tensorflow-feedstock-osx_arm64_numpy1.23python3.11.____cpython/miniforge3/conda-bld/tensorflow-split_1703125503156/work/tensorflow_pkg/tensorflow-2.15.0-cp311-cp311-macosx_11_0_arm64.whl#sha256=737884f3c70490cf51cc5e88b80fea7221253233c737a1c2bc7fa386d689b3b4
termcolor @ file:///Users/cbousseau/work/recipes/ci_py311/termcolor_1678004277555/work
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tkinterdnd2==0.3.0
tokenizers==0.21.0
torch==2.3.1
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1695373481350/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1701095650114/work
transformers==4.48.1
truststore @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_42mm7e6j06/croot/truststore_1695244298716/work
typer==0.15.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.2
ujson==5.10.0
unstructured==0.15.9
unstructured-client==0.28.1
uritemplate==3.0.1
uritools==4.0.3
urllib3==2.3.0
uvicorn==0.30.6
uvloop==0.21.0
validators==0.34.0
vosk==0.3.44
watchfiles==1.0.4
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1700607916581/work
weasyprint==63.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.1.3
wrapt @ file:///Users/cbousseau/work/recipes/ci_py311/wrapt_1677925966862/work
wsproto==1.2.0
xhtml2pdf==0.2.16
xlrd==2.0.1
XlsxWriter==3.2.1
xmltodict==0.14.2
xxhash==3.5.0
yarl==1.18.3
youtube-transcript-api==0.6.3
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zopfli==0.2.3.post1
zstandard @ file:///Users/cbousseau/work/recipes/ci_py311_2/zstandard_1678996192313/work
