{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search' in request.path %}
            <h2 class="title-page">Search Result</h2>
        {% else %}
            <h2 class="title-page">Welcome to our Store</h2>
            <p>Please check out the products below and if not available. We will ensure that it will be available asap.</p>
        {% endif %}
    
    </div> <!-- container //  -->
    </section>

    <section class="section-content padding-y">
        <div class="container">
        
        <div class="row">
            <aside class="col-md-3">
                
        <div class="card">
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class=""style=" text-color: #ff5733; color: #ff5733;;">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title"style=" text-color: #ff5733; color: #ff5733;;">Categories</h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_1" style="">
                    <div class="card-body">
                        
                        <ul class="list-menu">
                            <li><a href=" {% url 'store' %}">All Products </a></li>
                            {% for category in links %}
                        <li><a href=" {{ category.get_url }}">{{ category.category_name }}  </a></li>
                            {% endfor %}
                
                        </ul>
        
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- filter-group  .// -->
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class=""style=" text-color: #ff5733; color: #ff5733;;">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title"style=" text-color: #ff5733; color: #ff5733;;">Sizes </h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_4" style="">
                    <div class="card-body">
                      <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> Small </span>
                      </label>
        
                      <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> Medium </span>
                      </label>
        
                      <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> Large </span>
                      </label>
        
                      <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> Extra Large </span>
                      </label>
                </div><!-- card-body.// -->
                </div>
            </article> <!-- filter-group .// -->
            
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class=""style=" text-color: #ff5733; color: #ff5733;;">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title"style=" text-color: #ff5733; color: #ff5733;;">Price range </h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_3" style="">
                    <div class="card-body">
                        
                        <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min</label>
                          <!-- <input class="form-control" placeholder="$0" type="number"> -->
                              <select class="mr-2 form-control">
                                <option value="0">€0</option>
                                <option value="20">€20</option>
                                <option value="50">€50</option>
                                <option value="80">€80</option>
                                <option value="100">100</option>
                                <option value="120">€120</option>
                                <option value="150">€150</option>
                                <option value="200">€200+</option>
                            </select>
                        </div>
                        <div class="form-group text-right col-md-6">
                          <label>Max</label>
                              <select class="mr-2 form-control">
                                <option value="20">€20</option>
                                <option value="50">€50</option>
                                <option value="80">€80</option>
                                <option value="100">100</option>
                                <option value="120">€120</option>
                                <option value="150">€150</option>
                                <option value="200">€200+</option>
                            </select>
                        </div>
                        </div> <!-- form-row.// -->
                        <button class="btn btn-block btn-primary"style="border: 2px solid ; border-color: #ff5733; background-color: #ff5733; color: white;">Apply</button>
                    </div><!-- card-body.// -->
                </div>
            </article> <!-- filter-group .// -->
            
        </div> <!-- card.// -->
        
            </aside> <!-- col.// -->
            <main class="col-md-9">
        
                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto">
                            {% if products %}
                                {% with items_on_page=products|length total=paginator.count %}
                                    <b>Showing {{ items_on_page }} of {{ total }} Items</b>
                                {% endwith %}
                            {% else %}
                                <b>0 Items found</b>
                            {% endif %}
                        </span>
                    </div>
                </header>
        
        <div class="row">
            {% if products %}
            {% for product in products %}
            <div class="col-md-4">
                <figure class="card card-product-grid">
                    <!-- Image Section -->
                    <div class="img-wrap">
                        <a href="{{ product.get_url }}">
                            <img src="{{ product.images.url }}" alt="{{ product.product_name }}">
                        </a>
                    </div> <!-- img-wrap.// -->
        
                    <!-- Product Info Section -->
                    <figcaption class="info-wrap">
                        <div class="fix-height">
                            <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                            <div class="price-wrap mt-2">
                                <span class="price">€ {{ product.price }}</span>
                            </div> <!-- price-wrap// -->
                        </div>
                        <a href="{{ product.get_url }}" class="btn btn-block btn-primary" 
                        style="border: 2px solid #ff5733; background-color: #ff5733; color: white;">
                        View Product
                     </a>
                    </figcaption>
                </figure>
            </div> <!-- col.// -->
            {% endfor %}
            {% else %}
            <div>
                <h2>No result found. Please try again later.</h2>
            </div>
            {% endif %}
        </div>
        <nav class="mt-4" aria-label="Page navigation sample">
            {% if products.has_other_pages %}
            <ul class="pagination">
                {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" style="border: 2px solid #ff5733; color: #ff5733;" href="?page={{products.previous_page_number}}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" style="border: 2px solid #e9ecef; color: #6c757d;" href="#">Previous</a>
                </li>
                {% endif %}
        
                {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                    <li class="page-item active">
                        <a class="page-link" style="border: 2px solid #ff5733; background-color: #ff5733; color: white;" href="#">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" style="border: 2px solid #ff5733; color: #ff5733;" href="?page={{i}}">{{i}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
        
                {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" style="border: 2px solid #ff5733; color: #ff5733;" href="?page={{products.next_page_number}}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" style="border: 2px solid #e9ecef; color: #6c757d;" href="#">Next</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
        
            </main> <!-- col.// -->
        
        </div>
        
        </div> <!-- container .//  -->
        </section>
        

{% endblock %}